.comment {
    font-style: italic;
    color: #666;
    border-top: none !important;
}

td {
    vertical-align: middle !important;
}

th {
    font-weight: bold;
}

code {
    padding: 0;
}

.col-centered {
    float: none;
    margin: 0 auto
}