<div>
    <p>
        I am Erik Wiffin.
        You can contact me at:
        <a href="http://erik.wiffin.com">erik.wiffin.com</a>
        or
        <a href="mailto:erik.wiffin@gmail.com">erik.wiffin@gmail.com</a>.
    </p>
  <p>
    This project is on <a href="https://github.com/erikwiffin/0.30000000000000004">github</a>.
    If you think this page could be improved, send me a pull request.
  </p>
</div>

<!-- Google Analytics -->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-8267311-11']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
