---
layout: default
---

<table cellpadding="0" cellspacing="5">
    <tr>
        <th>Language</th>
        <th>Code</th>
        <th>Result</th>
    </tr>
    {% assign sortedPosts = site.posts | sort: 'title' %}
    {% for post in sortedPosts %}
    <tr>
        <td>{{ post.title }}</td>
        <td>
            {% if post.code.first %}
                {% for code in post.code %}
                    <pre><code>{{ code | xml_escape }}</code></pre>
                {% if forloop.last %}{% else %}And{% endif %}
                {% endfor %}
            {% else %}
                <pre><code>{{ post.code | xml_escape }}</code></pre>
            {% endif %}
        </td>
        <td>
            {% if post.result.first %}
                {% for result in post.result %}
                    {{ result | markdownify }}
                    {% if forloop.last %}{% else %}And{% endif %}
                {% endfor %}
            {% else %}
                {{ post.result | markdownify }}
            {% endif %}
        </td>
    </tr>
    {% if post.excerpt.size > 1 %}
    <tr>
        <td colspan="3" class="comment">{{ post.excerpt }}</td>
    </tr>
    {% endif %}
    {% endfor %}
</table>
